# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules/
/package-lock.json

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.history/*
*.code-workspace

# Sapper
__sapper__
/static/global.css

# misc
.env
.env.test
/connect.lock
/coverage
npm-debug.log
yarn-error.log
.vercel/

# System Files
.DS_Store
Thumbs.db